:root {
    --red2: #ff4040;
    --red: #dc143c;
    --yellow1: #ffcc33;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 20px 35px;
    background-color: var(--red);
}
header h1 {
    display: inline;
}
header a {
    text-decoration: none;
    color: var(--yellow1);
}
header nav {
    float: right;
    margin: 5px 0;
}
header nav ul li {
    display: inline;
    padding: 0 25px;
    font-size: 25px;
}

body {
    color: var(--yellow1) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    padding: 20px 40px;
    background-color: var(--red2);
}

footer {
    background: var(--red);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Hero style */
.hero {
    background-image: url(../images/coming-soon.jpg);
    height: 500px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}
.hero img {
    margin: 25px;
    width: 35%;
    height: auto;
    border: 5px solid black;
    border-radius: 100px;
}
.work-with-me-form {
    background-color: var(--red);
    padding: 20px;
    width: 50%;
    height: 80%;
    margin: 3%;
}
.work-with-me-form h2 {
    font-size: 24px;
}
.work-with-me-form p {
    margin: 5px 0 15px 0;
}
.work-with-me-form input {
    display: block;
    width: 60%;
}
/* About Me style */
.intro {
    width: 100%;
    display: flex;
}
.intro h2 {
    font-size: 45px;
    color: var(--yellow1);
    margin-right: 45px;
    padding-right: 10px;
    border-right: 5px solid var(--red);
    width: 100%;
}
.intro p {
    flex-wrap: wrap;
    padding: 20px 10px 10px 0;
}

/*Works style */
.portfolio {
    width: 100%;
    margin: 0 auto;
}
.portfolio h2 {
    font-size: 45px;
    color: var(--yellow1);
    border-bottom: 5px solid var(--red);
    width: 100%;
    text-align: center;
}
.work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}
.work article{
    flex: 0 1;
    padding-bottom: 1.5rem;
    width: 85%;
    text-align: center;
}
.work a {
    text-decoration: none;
    color: var(--yellow1);
}
.work a:hover {
    filter: brightness(50%);
}
/* .work h3 {
    background-color: var(--red);
    bottom: 2.5%;
    left: 1.5%;
} */
.work img {
    width: auto;
    max-width: 65%;
    height: auto;
}

/* Contacts style */