:root {
    --red2: #ff4040;
    --red: #dc143c;
    --yellow1: #ffcc33;
}
/* Global Style */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

a:link, a:visited {
    text-decoration: none;
    color: var(--red2);
}

body {

}

body h2 {
    text-align: center;
}

/* Header Style */
header {

}

/* Hero Style */
.hero-section {
    background-image: url("../images/coming-soon.jpg");
}

.hero-section form {
    width: 80%;
    height: auto;
}

/* About Me Style */
.aboutme-section {

}

/* Works Style */
.work-section {

}

/* Contact Style */
.contact-section {

}

/* Footer Style */
footer {

}

/* Media Style for desktop screens and larger */
@media screen and (min-width: 768px) {
    
}